
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-color: skyblue;
}

.app {
  height: 100vh;
  width: 100vw;
  transition: background-color 1s ease-in;

  
}

.input {
background-color: blueviolet;
}



/*  start search and header  */

.App__search{
background-color: #6161a7;
width: 100%;
height: 100px;
position: relative;
display: flex;
align-items: center;

}


.App__search button {

  padding: 15px;
  padding-left: 40px ;
  padding-right: 40px ;
  color: blueviolet;
  font-size: 18px;

}

 .App__search input {
  padding: 15px;
  background-color: transparent ;
  color:white;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  margin-right: 5px  ;
 

 

}

.App__search input::placeholder{
  color: white;
  font-size: 17px;
  text-decoration: none;
}

.app__main .wraping {
  display: flex;
  margin-top: 40px;
}

.wraping {
  flex-direction: row;
}































.app__header,
.app__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app__header  svg {
  width: 300px;
  height: 300px;
  text-align: center;
}

.app__header h3 {
  margin-bottom: 30px;
}

.app__header h2 {
  margin-bottom: 30px;
}


.app__header .st0{fill:#F4A71D;}  .app__header .st1{fill:#FFFFFF;}



.app__header h3 {
  color: white;
  font-weight: bold;
}



.app__header span{
  font-weight: 400;
}

.app__header span{
  margin-left: 10px;
  margin-right: 10px;
}


.app__main{
  font-weight: bold;
}
.app__main svg{
  width: 50%;
  margin: 0;
 
}




@media (max-width: 480px) {

.app__header svg{

  width:45%;
  text-align: center;
}


.wraping {
  flex-direction: column;
}

.App__search {
  justify-content: space-around;
}

    
}





.wraping div{

    text-align: center;
    padding-bottom: 18px;

}



.app__main .st0{fill:#F4A71D;}  .app__main .st1{fill:#FFFFFF;}


/*  Search bar */

/* Current weather */

div {
  border: 0px solid red;
}